---
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { Metadata } from "@/types";

export interface Props {
  metadata?: Metadata;
  language?: string;
}

const { metadata = {}, language = "en" } = Astro.props;
---

<BaseLayout metadata={metadata} language={language}>
  <main>
    <slot />
  </main>
</BaseLayout>
