---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/widgets/header/Header.astro";

import { headerData } from "~/config/navigation";

import type { Metadata } from "@/types";

export interface Props {
  metadata?: Metadata;
  language?: string;
}

const { metadata, language } = Astro.props;
---

<BaseLayout metadata={metadata} language={language}>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
</BaseLayout>
