---
// import Button from "@/components/ui/Button/Button.astro";
// import Title from "@/components/ui/Title";
// import RightArrow from '../../../../public/icons/rightArrow'
// import LogoSlide from './logoSlide'
import SlideUp from "@/components/animations/slideUp";
import Button from "@/components/ui/Button/Button.astro";
import CustomImage from "@/components/common/CustomImage.astro";
---

<section class="lg:py-15 py-9">
  <div class="max-w-[1350px] mx-auto px-[15px]">
    <div
      class="grid xl:grid-cols-[48%_52%] lg:grid-cols-2 grid-cols-1 justify-between xl:gap-10 gap-5"
    >
      <div>
        <SlideUp client:load>
          <div>
            <Button variant="secondary">We Provide</Button>
            <h2
              class="text-xl sm:text-2xl md:text-5xl font-bold leading-relaxed mb-2 font-heading dark:text-white lg:max-w-[620px]"
            >
              Integration Solutions: with Leading Tools
            </h2>
            <p class="font-semibold lg:pt-7.5 pt-5">
              <strong>Next Agency</strong> seamlessly integrates with a variety of
              industry-leading tools, ensuring a cohesive and efficient digital ecosystem
              for your business.
            </p>
          </div>
          <div class="lg:pt-[74px] pt-10">
            <div class="flex flex-wrap md:flex-nowrap xl:gap-20 gap-10">
              <div>
                <CustomImage
                  src={"/website/assets/images/shapes/connectivity-icon.png"}
                  width={62}
                  alt="connectivity"
                />
                <p class="font-semibold text-1xl pt-4 lg:max-w-[255px]">
                  Seamless Connectivity with your favourite tools
                </p>
              </div>
              <div>
                <CustomImage
                  src={"/website/assets/images/shapes/email-marketing-icon.png"}
                  width={62}
                  alt="connectivity"
                />
                <p class="font-semibold text-1xl pt-4 lg:max-w-[255px]">
                  Customized Solutions to fulfill your exact need
                </p>
              </div>
            </div>
            <Button
              variant="secondary"
              class="max-h-[64px] group lg:mt-20 mt-14"
            >
              See all Integrations
            </Button>
          </div>
        </SlideUp>
      </div>
      <div>
        <!-- <SlideUp> -->
        <div
          class="bg-[rgba(226,231,255,0.22)] dark:bg-[#202932] rounded-[30px] relative after:absolute after:left-0 after:top-0 after:h-full after:w-full after:bg-[linear-gradient(90deg,_#F4F6FF_0%,_rgba(244,246,255,0.00)_20.2%,_rgba(244,_246,_255,_0.00)_72.88%,_#F4F6FF_100%)] after:dark:bg-[linear-gradient(90deg,_#202932_0%,_rgba(32,41,50,0)_16.2%,_rgba(32,41,50,0)_76.88%,_#202932_100%)] after:z-10 after:rounded-[30px]"
        >
          <div
            class="bg-contain bg-bottom bg-no-repeat h-full max-h-[400px] w-full absolute bottom-7 left-0"
            style={{
              backgroundImage: `url(/images/shapes/provide-bg3-1.png)`,
            }}
          >
          </div>
          <div class="lg:px-14 px-5 lg:pt-[58px] pt-8 relative z-[15]">
            <h3>Freedom to integrate all the tools you need</h3>
            <p class="pt-5">
              At Next you can seamlessly integrates with a variety of
              industry-leading tools, ensuring a cohesive and efficient digital
              ecosystem for your business.
            </p>
          </div>
          <div class="lg:mt-[89px] mt-12 pb-6">
            {/* <LogoSlide /> */}
          </div>
        </div>
        <!-- </SlideUp> -->
      </div>
    </div>
  </div>
</section>
